@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#CECDC8,#F3E3D3);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #91908eb4;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #223135;
    text-align: center;
    text-shadow: 1px 1px 1px #22313562 ;
}

h2 {
    color: #BE984A;
}

p {
    text-align: justify;
}